      <footer class="footer">
        <div class="container">
          
          <div class="row justify-content-md-center" style="padding:0px 200px">

            <div class="col-2">
              <img src="./images/footerimg2.png" height="125">    
            </div>
            <div class="col-4" style="border-right: 1px solid #ed9b09;">
              <p style="margin: 0; font-size: 1rem; color: #fff;">SP<span style="color: #ed9b09; font-weight: normal;">AP</span>PC</p>
              <p style="margin: 0; font-size: 1rem; color: #fff;">102 - 2303, rue Laurier St</p>
              <p style="margin: 0; font-size: 1rem; color: #fff;">P.O. Box 876</p>
              <p style="margin: 0; font-size: 1rem; color: #fff;">Rockland, Ontario K4K 1L5</p>
            </div>

             <div class="col-6" style="padding-top: 1.7rem; padding-left: 3rem;">
                <p style="color: #b7b4c5; font-size: .7rem; line-height: 1.5; margin-top: 0;">This website is for informational purposes only. Using this site or communicating with Annie Provost - Avocate/Lawyer through this site does not form an attorney/client relationship.  This site is legal advertising.</p>
            </div> 

          </div>
          
          <div class="row justify-content-md-center" >

             <div class="col-12" style="padding-top: 2rem;">
                <p class="text-center" style="font-size: .7rem; color: #b7b4c5;">2018 &copy; Société Professionnelle Annie Provost Professional Corporation</p>
            </div>         
          </div>

        </div>
      </footer>
