		<link rel="icon" type="image/png" href="/icofile.png">
		<link href="/bootstrap.css" rel="stylesheet">
		<link href="/sticky-footer-navbar.css" rel="stylesheet">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Société Professionnelle Annie Provost Professional Corporation">
		<meta name="author" content="Annie Provost">

