	<nav class="navbar navbar-expand-lg navbar-dark bg-dark activateStick">

		<a class="navbar-brand hideLogo" href="./index.html">          
			<img src="./images/whiteScale.png" height="30" class="d-inline-block align-top" alt="{{ownerName}}"> {{ownerName}} <span class="d-none d-sm-inline-block">| {{ownerTitle}}</span>
		</a>