<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Family | SPAPPC</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->

		{{> standardHeader}}
		{{> header}}

		<!-- ===============
			END Page Header
		================ -->

		<div class="container" style="margin-top: 72px; padding-bottom: 2rem;">
			<div class="row">
				<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('./images/wills.jpg'); background-size: cover; height: 100%; width: 100%;">
          
					<div class="col-md-12">
						<div class="rounded" style="padding: 3rem 3rem; background-image: url('./images/blueFade.png'); background-size: cover; height: 100%;">
							<h1 class="display-4 font-italic"><strong>Family Law</strong></h1>
							<p class="lead my-3">Family law is a complex field and it is important that people understand the various issues, their rights and the consequences arising from their choices before making agreements and/or starting court proceedings. Annie is available to help her clients navigate the complexities of family law. Annie can also help you and inform you of your rights when you are starting a relationship (cohabitation and/or marriage) or in the event of a breakdown of your relationship (separation).</p>
				
							<p class="lead my-3">Family law issues include:</p>

							<div class="row">
								<div class="col-md-6">
									<p class="lead" style="margin: 0 2rem;">Cohabitation Agreement</p>
									<p class="lead" style="margin: 0 2rem;">Marriage Contract</p>
									<p class="lead" style="margin: 0 2rem;">Separation Agreement</p>
									<p class="lead" style="margin: 0 2rem;">Parenting Plan</p>
								</div>
								<div class="col-md-6">
									<p class="lead" style="margin: 0 2rem;">Separation and divorce</p>
									<p class="lead" style="margin: 0 2rem;">Custody</p>
									<p class="lead" style="margin: 0 2rem;">Child support / Spousal support</p>
									<p class="lead" style="margin: 0 2rem;">Equalizaiton of the net family property</p>
								</div>
							</div>
						</div>	            
					</div>
				</div>
			</div>
	    </div>


		<!-- ===============
		   Page Footer
		================ -->

		{{> footer}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
	</body>
</html>
