<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Home | SPAP</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->
		<header></header>
		<!-- ===============
			END Page Header
		================ -->

		<div style="">
			<div class="carousel-inner text-center">
				<div class="carousel-item active">
					<img class="first-slide d-block w-100" src="/bannerimage.png" alt="First slide">
					<div class="carousel-caption d-none d-md-block" style="padding: 0; height: 100%;">
						<div class="carousel-caption d-none d-md-block" style="margin: 0 auto; padding: 0;">
							<img class="bannerLogo" class="first-slide d-block w-100" src="/bannertext.png" alt="">
						</div>
						<img class ="bannerBG" class="first-slide d-block w-100" src="/bannerBackground1.png" alt="">
					</div>
				</div>
			</div>
		</div>

		{{> header}}

		<div class="mainBody">
			<div class="position-relative overflow-hidden text-center bg-light">  
				<div class="row" style="width: 100%; margin: 0; height: 400px;">
					<div class="col-md-4 imgServices" style="padding: 25px 0; background-image: url('/LawyerScale.png'); background-repeat: no-repeat; background-size: cover;">
						<h2 style="color: #fff;">Family Law</h2>
					</div>
					<div class="col-md-4 imgServices" style="padding: 25px 0; background-image: url('/adult-affection-baby-302083.jpg'); background-repeat: no-repeat; background-size: cover;">
						<h2 style="color: #fff;">Wills</h2>
					</div>
					<div class="col-md-4 imgServices" style="padding: 25px 0; background-image: url('/LawyerSearch.png'); background-repeat: no-repeat; background-size: cover;">
						<h2 style="color: #fff;">Notary Public</h2>
					</div>
				</div>
			</div>
		</div>

		<div style="background-color: #fff;">
			<div class="container" style="padding-top: 3rem; padding-bottom: 3rem;">
				<div class="row">
					<div class="col-md-3">
						<img src="/headshot.png" height="300">
					</div>
					<div class="col-md-9">
						<h2 style="margin-bottom: 2rem;">Annie Provost <span style="color: #9e9d9d;">| Barrister & Solicitor</span></h2>
						<p>Cum sociis natoque penatibus et magnis, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
						<strong>Read more</strong>
					</div>
				</div>
			</div>
		</div>

		<!-- ===============
		   Page Footer
		================ -->

		{{> footer}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
	</body>
</html>
