<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{nav2}} | SPAPPC</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->

		{{> standardHeader}}
		{{> header}}

		<!-- ===============
			END Page Header
		================ -->

			    <div class="container" style="margin-top: 72px; padding: 3rem 0;">

			        <div class="row">

			          <div class="col-lg-4 text-center" style="margin-bottom: 5rem;">
			            <div style="height: 200px;">
			              <img class="rounded-circle" src="./images/family.jpg" alt="Generic placeholder image" width="300">                        
			            </div>
			            <div style="display: table; min-height: 100px; width: 100%;">           
			            	<h2 style="display: table-cell; vertical-align: middle;"><a href="./familylaw.html" style="color: #000;">Family Law</a></h2>
			            </div>
			            <p class="card-text mb-auto">Cohabitation Agreement</p>
			            <p class="card-text mb-auto">Marriage Contract</p>
			            <p class="card-text mb-auto">Separation Agreement</p>
			            <p class="card-text mb-auto">Parenting Plan</p>
			            <p class="card-text mb-auto">Separation and divorce</p>
			            <p class="card-text mb-auto">Custody</p>
			            <p class="card-text mb-auto">Child support / Spousal support</p>
			            <p class="card-text mb-auto">Equalizaiton of the net family property</p>
			          </div>

			          <div class="col-lg-4 text-center" style="margin-bottom: 5rem;">
			            <div style="height: 200px;">
			              <img class="rounded-circle" src="./images/wills.jpg" alt="Generic placeholder image" width="300">                        
			            </div>
			            <div style="display: table; min-height: 100px; width: 100%;">           
			            	<h2 style="display: table-cell; vertical-align: middle;"><a href="./willsestates.html" style="color: #000;">Wills & <br>Powers of Attorney</a></h2>
			            </div>
			            <p class="card-text mb-auto">Will</p>
			            <p class="card-text mb-auto">Power of Attorney for Property</p>
			            <p class="card-text mb-auto">Power of Attorney for Personal Care</p>
			          </div>

			          <div class="col-lg-4 text-center" style="margin-bottom: 5rem;">
			            <div style="height: 200px;">
			              <img class="rounded-circle" src="./images/notary.jpg" alt="Generic placeholder image" width="300">                        
			            </div> 
			            <div style="display: table; min-height: 100px; width: 100%;">           
			            	<h2 style="display: table-cell; vertical-align: middle;">Notary Public</h2>
			            </div>                       
			            <p class="card-text mb-auto">Notarization</p>
			            <p class="card-text mb-auto">Affidavits</p>
			            <p class="card-text mb-auto">Certified True Copies</p>
			            <p class="card-text mb-auto">Statutory Declarations</p>
			            <p class="card-text mb-auto">Separation and divorce</p>
			            <p class="card-text mb-auto">Commissioner of Oaths</p>
			            <p class="card-text mb-auto">Travel Consent Letter</p>
			          </div>
			        </div>
			    </div>


		<!-- ===============
		   Page Footer
		================ -->

		{{> footer}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
	</body>
</html>
