<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{nav2}} | SPAPPC</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->

		{{> standardHeader_FR}}
		{{> header_FR}}

		<!-- ===============
			END Page Header
		================ -->

			    <div class="container" style="margin-top: 72px; padding: 3rem 0;">

			        <div class="row">

			          <div class="col-lg-4 text-center" style="margin-bottom: 5rem;">
			            <div style="height: 200px;">
			              <img class="rounded-circle" src="./images/family.jpg" alt="Generic placeholder image" width="300">                        
			            </div>
			            <div style="display: table; min-height: 100px; width: 100%;">           
			            	<h2 style="display: table-cell; vertical-align: middle;"><a href="./familylaw_FR.html" style="color: #000;">Droit de la famille</a></h2>
			            </div>
			            <p class="card-text mb-auto">Accord de cohabitation</p>
			            <p class="card-text mb-auto">Contrat de mariage</p>
			            <p class="card-text mb-auto">Accord de séparation</p>
			            <p class="card-text mb-auto">Plan parental​</p>
			            <p class="card-text mb-auto">Séparation et divorce</p>
			            <p class="card-text mb-auto">Garde d'enfant</p>
			            <p class="card-text mb-auto">Pension alimentaire</p>
			            <p class="card-text mb-auto">Égalisation des biens familiaux nets</p>
			          </div>

			          <div class="col-lg-4 text-center" style="margin-bottom: 5rem;">
			            <div style="height: 200px;">
			              <img class="rounded-circle" src="./images/wills.jpg" alt="Generic placeholder image" width="300">                        
			            </div>
			            <div style="display: table; min-height: 100px; width: 100%;">           
			            	<h2 style="display: table-cell; vertical-align: middle;"><a href="./willsestates_FR.html" style="color: #000;">Testaments et <br>procurations​</a></h2>
			            </div>
			            <p class="card-text mb-auto">Testament</p>
			            <p class="card-text mb-auto">Procuration pour les biens</p>
			            <p class="card-text mb-auto">Procuration pour les soins</p>
			          </div>

			          <div class="col-lg-4 text-center" style="margin-bottom: 5rem;">
			            <div style="height: 200px;">
			              <img class="rounded-circle" src="./images/notary.jpg" alt="Generic placeholder image" width="300">                        
			            </div> 
			            <div style="display: table; min-height: 100px; width: 100%;">           
			            	<h2 style="display: table-cell; vertical-align: middle;">Notaire</h2>
			            </div>                       
			            <p class="card-text mb-auto">**Notarization**</p>
			            <p class="card-text mb-auto">**Affidavits**</p>
			            <p class="card-text mb-auto">**Certified True Copies**</p>
			            <p class="card-text mb-auto">**Statutory Declarations**</p>
			            <p class="card-text mb-auto">**Separation and divorce**</p>
			            <p class="card-text mb-auto">**Commissioner of Oaths**</p>
			            <p class="card-text mb-auto">**Travel Consent Letter**</p>
			          </div>
			        </div>
			    </div>


		<!-- ===============
		   Page Footer
		================ -->

		{{> footer_FR}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
	</body>
</html>
