<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Wills and Estates | SPAPPC</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->

		{{> standardHeader_FR}}
		{{> header_FR}}

		<!-- ===============
			END Page Header
		================ -->

		<div class="container" style="margin-top: 72px; padding-bottom: 2rem;">
			<div class="row">
				<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('./images/wills.jpg'); background-size: cover; height: 100%; width: 100%;">
          
					<div class="col-md-12">
						<div class="rounded" style="padding: 3rem 3rem; background-image: url('./images/blueFade.png'); background-size: cover; height: 100%;">
								<h1 class="display-4 font-italic"><strong>Testaments et successions</strong></h1>
								<p class="lead my-3">Les testaments et les procurations est un domaine du droit que les gens n’aiment pas penser à et repoussent souvent à plus tard. Pourtant, il s’agit d’un domaine de droit très important qui peut créer des problèmes à vos proches advenant un décès ou une incapacité. Annie se rend disponible pour aider les gens à préparer des documents qui sont en bonnes et dues formes et pour répondre à leurs questions. </p>
					
								<p class="lead my-3">**Wills and Estate issues include:**</p>

							<div class="row">
								<div class="col-md-6">
									<p class="lead" style="margin: 0 2rem;">Testament</p>
									<p class="lead" style="margin: 0 2rem;">Procuration pour les biens</p>
									<p class="lead" style="margin: 0 2rem;">Procuration pour les soins</p>
								</div>
							</div>
						</div>	            
	          		</div>		
	        	</div>
	      	</div>
	    </div>


		<!-- ===============
		   Page Footer
		================ -->

		{{> footer_FR}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
	</body>
</html>
